.container1 {
    border: dashed 1px #000;    
}

h1 {
    color: red;
    font-size: 100px;
    text-decoration: underline;
}

.p-1 {
    color: #555;
    font-size: 2em;
    font-weight: bold;
}

.container2 {
    border: solid 1px red;
    margin: 2em;
    padding: 2em;
    font-size: 1.5em;
}