.listTitle {
  border-bottom: solid 1px #007bff;
}

.toDoList,
.toDoList-1,
.toDoList-2,
.toDoList-3 {
  margin-top: 10px;
  padding: 0;
}

#listItem {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(248, 248, 248, 0.411);
  border-radius: 6px;
  padding: 6px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#listItem:hover {
  background: rgb(241, 241, 241);
}

.toDoItem input[type="checkbox"] {
  align-self: center;
  width: 20px;
  height: 20px;
}
